html {
    height: 100%;
}

.btn.btn-dark {
    font-size: 11px;
    opacity: 75%;
}

body {
    background-color: #6c757d;
}

.container-fluid {
    background-color: #6c757d;
    background-image: url(../Images/GrayBuilding.jpeg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
	height: 100%;
	overflow: scroll;
    /* display: flex;
    flex-direction: column;
    min-height: 100%; */
}

nav.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

h1 {
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 55px;
    color: #212529e1;
}

h2 {
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 13px;
    font-weight: lighter;
    color: snow;
    opacity: 70%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px; /* tb */
}

h5 {
    opacity: 89%;
}

p {
    margin-top: 10px;
    font-size: 12px;
    opacity: 89%;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    background-color: #212529e1;
    color: snow;
    text-align: center;
    font-family: 'Chakra Petch';
    padding-bottom: 7px;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: 0 0 40px -10px #212529;
}

.btn:hover {
    transform: scale(1.025);
    box-shadow: 0 0 40px -10px #090a0a;
}

.navbar-brand:hover {
    transform: scale(1.025);
}

.nav-link:hover {
    transform: scale(1.025);
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: column;
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

div.col-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.navbar-brand {
    font-family: 'Chakra Petch';
    opacity: 89%;
}

a.nav-link {
    font-family: 'Chakra Petch';
    color: #6c757d;
    text-decoration: #6c757d;
}

img {
    opacity: 89%;
}

footer {
    text-align: center;
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 7px;
    color: snow;
    margin-top: auto;
}